// 全局变量
$color-main: 			#FBBE35;	// 全局主题色

//-- 字体色
$color-font-main:       #585f6f;  // 主字体色
$color-font-sub:        #8d8d8d;  // 次要字体色

//-- 元素色
$color-white: 			#fff;		// 白
$color-grey-light: 		#ddd;		// 浅灰
$color-grey:            #707070;    // 灰
$color-grey-dark: 		#585f6f;	// 深灰
$color-back:            #333;       // 黑
$color-red: 			#eb2f18;	// 红
$color-blue: 			#409EFF;	// 蓝

//-- 边框色
$border-grey:           #bbbbbb;

//-- 背景色
$background-color:      #F8F8F8;

//-- 基础字体大小
$font-size-base:		14px;	//基础字体大小
$font-size-small:		12px;
$font-size-title:		16px;
$font-size-large:		18px;
$font-size-large-big:	22px;

// 字体粗细
$font-normal: 400;
$font-medium: 500;
$font-light:  300;
$font-thin:   100;

// 字体
$font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
